<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>What's all the FaaS about?</title>
<style>
body
{
text-align:center;
}
</style>
</head>
<body>

<h1>What's all the FaaS about?</h1>
<p>Get it? It's a pun.</p>
<p>Dad joke brought to you by Morgan Travis</p>

</body>
</html>
